.grid{
	height:560px;
	width:560px;
	display:flex;
	flex-wrap:wrap;
	margin:auto;
	background: rgba(22,93,71,0.3);
	border-radius: 15px;
}

.grid div{
	height:70px;
	width:70px;
	
}

body{
	background-image: url('Final-Background.jpg');
	background-size: cover;
}

#b1 {
	position: fixed;
	top: 340px;
	left: 650px;
	width:200px;
	height:60px;
	background-color:white;
	color:  #6495ED;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#next{
	position: fixed;
	top: 400px;
	left: 670px;
	width:200px;
	height:60px;
	background-color:#00CED1;
	color:  white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	font-family:Lucida Handwriting; 
	font-style:italic; 
	font-size:20px; 
	font-weight:bold; 
	visibility:hidden;
}

#restart{
	position: fixed;
	top: 340px;
	left: 670px;
	width:200px;
	height:60px;
	background-color:#00CED1;
	color:  white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	font-family:Lucida Handwriting; 
	font-style:italic; 
	font-size:20px; 
	font-weight:bold; 
	visibility:hidden;
}

#restart2{
	position: fixed;
	top: 660px;
	left: 1250px;
	width:100px;
	height:40px;
	background-color:white;
	color:  #C71585;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	font-family:Lucida Handwriting; 
	font-style:italic; 
	font-size:15px; 
	font-weight:bold; 
}

.b2 {
	position: fixed;
	top: 340px;
	left: 700px;
	width:150px;
	height:40px;
	background-color: #6495ED;
	color:white  ;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p{
	position: fixed;
	top: 250px;
	left: 600px;
	width:300px;
	height:100px;
	background-color: white;
	color: #6495ED;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
	font-family:Lucida Handwriting; 
	font-style:italic; 
	font-weight:bold; 
	font-size:25px;
	
}

#star1y{
	position: fixed;
	top: 250px;
	left: 600px;
	border: none;
	visibility:hidden;
}
#star1g{
	position: fixed;
	top: 250px;
	left: 600px;
	border: none;
	visibility:hidden;
}
#star2y{
	position: fixed;
	top: 250px;
	left: 750px;
	border: none;
	visibility:hidden;
}
#star2g{
	position: fixed;
	top: 250px;
	left: 750px;
	border: none;
	visibility:hidden;
}
#star3y{
	position: fixed;
	top: 250px;
	left: 900px;
	border: none;
	visibility:hidden;
}
#star3g{
	position: fixed;
	top: 250px;
	left: 900px;
	border: none;
	visibility:hidden;
}
#score-level{
	position: fixed;
	top: 325px;
	left: 700px;
	visibility:hidden;
}